// Fonts
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600&display=swap')

// Variables
@import 'variables'

// Bootstrap
@import '~bootstrap/scss/bootstrap'

// Components
@import "components-styles/main_page"
@import "components-styles/left_side_container"
@import "components-styles/right_side_container"
@import "components-styles/task_list"
@import "components-styles/bottom-container"

body
  background-color: $dark-blue

input
  border: none
  outline: none

button
  border: none

ul, li, ol
  list-style: none
  padding: 0 0
  margin: 0 0

p, span, h1, h2, h3, h4, h5, h6
  word-break: break-all

p 
  margin-bottom: 0px


.text-clock_time-section
  font-family: $press_start_2p

.text-clock_data-section
  font-family: $press_start_2p

.show-time-btn > button
  font-family: $press_start_2p


