// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito')
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')

// Variables
@import 'variables'

// Bootstrap
@import '~bootstrap/scss/bootstrap'

// Components
@import "components-styles/main_app"
@import "components-styles/first_block_component"
@import "components-styles/second_block_component"

input
  border: none
  outline: none

input::placeholder
  color: white

input:focus
  border: none !important


button
  border: none
