.bottom-block
  width: 100%
  height: 100vh
  background-color: $dark-blue

  &_main-container
    width: 90%
    min-height: 84.9296842412vh
    margin: 7.035175879396985vh auto
    background-color: $dark-blue
    display: flex
    flex-direction: column
    justify-content: center

.bottom-title
 text-align: center

.bottom-title > h2
  display: inline-block
  font-family: $press_start_2p
  color: $sky
  text-shadow: 2px 2px $cyan-lighten-4
  margin-top: 10px

.history-table
  width: 80%
  margin: 0 auto
  margin-top: 20px
  box-shadow: 0 0 10px $sky

  &_title 
    text-align: center
    background-color: $cyan-lighten-4
    margin: 2px
    padding: 10px

  &_structure
    display: flex
    flex-direction: row
    flex-wrap: wrap

    li 
      margin: 2px
      padding: 5px
      width: calc(100% / 8)
      min-height: 8vh
      background-color: $sky
      flex-grow: 1

  &_days-names
    display: flex 
    flex-direction: row
    flex-wrap: wrap

    li 
      color: $dark-blue
      text-align: center
      margin: 2px
      padding: 5px
      width: calc(100% / 8)
      background-color: $cyan-lighten-4
      flex-grow: 1



