.calendar
  width: 100%
  border: 1px solid $dark-blue

  &_title 
    display: flex
    justify-content: flex-start
    align-items: center
    background-color: $light-sky
    padding: 20px 25px 

    > h5
      font-family: $press_start_2p
      color: $dark-blue
      text-shadow: 2px 2px $cyan-lighten-4
      margin-bottom: 0

  &_week-names
    display: grid
    grid-template-columns: repeat(7, 1fr)

    > li 
      font-family: $press_start_2p
      color: $dark-blue
      text-shadow: 1px 1px $cyan-lighten-4
      padding: 2px 5px
      text-align: right
      background-color: $light-sky

  &_structure
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-template-rows: repeat(6, 1fr)
    grid-gap: 1px
    border-top: 1px solid $dark-blue

  &_items
    min-height: 8vh
    padding: 5px 5px 
    background-color: $sky
    transition: all 0.4s

  &_items:hover 
    border: 1px solid $cyan-lighten-4

    > .day 
      color: $cyan-lighten-4

.day 
  font-family: $press_start_2p
  color: $dark-blue
  text-align: right
  transition: all 0.8s

.weekend-day
  background-color: $light-sky

.today 
  background-color: $cyan-lighten-4

  > p 
    color: $sky
    text-shadow: 1px 1px 1px $dark-blue

.has-tasks-mark 
  color: white
  background-color: $black