.left-side-container
  width: 50%
  height: 100vh
  background-color: $dark-blue
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding-top: 15vh

  &_header
    width: 50%
    height: 5.900948366701791vh
    background-color: $sky
    position: fixed
    top: 0
    left: 0
    z-index: 200

  &_header-title > h2
    display: inline-block
    margin: 8px 25px
    font-family: $press_start_2p
    color: $dark-blue
    text-shadow: 2px 2px $cyan-lighten-4

  &_header-title > h2:hover
    cursor: pointer
    transition: 0.3s
    text-shadow: 6px 6px $cyan-lighten-4

  &_task-block
    width: 85%
    min-height: 79vh
    padding: 25px
    background-color: $sky
    position: relative

    .info-btn
      font-size: 30px
      color: $cyan-lighten-4
      text-align: center
      position: absolute
      top: 5px
      right: 5px
      background-color: $dark-blue
      cursor: pointer
      border-radius: 50%

    .info-btn:hover
      padding: 3px
      border-radius: unset
      transition: 0.3s
      color: white