.task-list-title

  h3
    font-family: $press_start_2p
    color: $dark-blue
    text-shadow: 2px 2px $cyan-lighten-4
    margin: 0

.add-task
  &_field
    height: 40px
    margin-top: 25px
    padding: 0 10px
    border-bottom: 2px solid $cyan-lighten-4
    border-radius: 5px
    background-color: $dark-blue
    display: flex
    justify-content: space-between

    input[type="text"]
      width: 90%
      height: 100%
      background-color: transparent
      color: white

    input[type="text"]::placeholder
        color: $cyan-lighten-4

    input[type="text"]:focus
      border: none

    button
      background-color: transparent
      color: $cyan-lighten-4
      

    button:hover
      transition: 0.3s
      color: white
      font-size: 30px

.invalid
  border-bottom: 2px solid #D32F2F
  color: #D32F2F

.error_msg
  margin: 5px 10px
  margin-bottom: 0px
  color: #D32F2F
  font-weight: bold

.add-task_field:hover
  transition: 0.3s
  box-shadow: 0 0 10px $dark-blue

.task-list
  margin-top: 20px

  p
    word-break: break-all
    margin: 0

  ul > li
    margin: 10px 0
    padding: 5px 10px
    color: $dark-blue
    background-color: $cyan-lighten-4
    border-radius: 5px
    display: flex
    align-items: center

  &_item>input
    width: 65%

  &_btn-section
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center

    button
      font-size: 25px
      border-collapse: collapse
      width: calc(100% / 4)
      color: $sky
      background-color: transparent
      

    button:hover
      transition: 0.3s
      color: $cyan-lighten-4


.task-enter
  opacity: 0

.task-enter-to 
  opacity: 1
  transition: 1s
